.box {
  margin-top: 10rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.post {
  margin: 3rem 0.5rem;
  padding: 4rem 2rem;
  border: 1px solid #939393fc;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  animation: animate-in 1s ease-out forwards;

  background-color: rgb(122, 122, 131);
}

.post a {
  text-decoration: none;
}
.top {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: -1rem;
  margin-bottom: -0.9rem;
}

/* .post a {
      text-decoration: none;
    } */

.id {
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
  /* margin: 0; */
  /* margin-bottom: 1rem; */
}

.middle {
  /* background-color: red; */
  display: flex;
  justify-content: start;
  padding: 2.5rem 0;
}

.content {
  white-space: pre-wrap;
  font-size: 1.25rem;
  margin: 0.25rem 0 0 0;
  font-style: italic;
}

@keyframes animate-in {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
