.post {
  margin: 3rem 0.5rem;
  padding: 1rem 2rem;
  /* background-color: #9c7eee; */
  border: 1px solid #939393fc;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  animation: animate-in 1s ease-out forwards;
}

.post a {
  text-decoration: none;
}

.post a:visited {
  color: inherit; /* 방문한 링크의 색상도 현재 텍스트의 색상을 유지하도록 설정 */
}

.top {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: -1rem;
  margin-bottom: -0.9rem;
}

/* .post a {
    text-decoration: none;
  } */

.id {
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
  /* margin: 0; */
  /* margin-bottom: 1rem; */
}

.middle {
  /* background-color: red; */
  display: flex;
  justify-content: start;
  padding: 1.5rem 0;
}

.content {
  white-space: pre-wrap;
  font-size: 1.25rem;
  margin: 0.25rem 0 0 0;
  font-style: italic;
}

@keyframes animate-in {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bottom {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}
.like_button {
  position: absolute;
  padding: 1rem;
  /* background-color: red; */
}

.likes {
  margin-left: 3rem;
  /* background-color: purple; */
}

.delete {
  position: absolute;
  right: 1rem;
  padding: 0.1rem;
}
